body {
	background-image: url(./1.jpg);
}

#friend{
	position: fixed;
	top: 30%;
	left: 15%;
	font-size: 40px;
	color: red;
}

#all{
	position: fixed;
	top:35%;
	left:37%;
}

#happy{
	
}

#welcome{
	text-align: center;
	color: red;
}
